body {
	background-color: #444;
	color: #ccc;
	font-family: sans-serif;
	padding: 1rem;

	h1 {
		font-size: 1.7rem;
		margin: 0;
	}

	h2 {
		background-color: #222;
		padding: .5rem;
	}

	.data {
		color: rgb(227, 191, 150);
	}

	animation: fadein .2s ease-in;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}